altair==5.5.0
array-api-compat==1.12.0
attrs==25.3.0
biom_format==2.1.17
biopython @ file:///Users/runner/miniforge3/conda-bld/biopython_1756541834411/work
blinker==1.9.0
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1756599273055/work
BUSCO @ file:///opt/conda/conda-bld/busco_1752070321599/work
cachetools==6.2.0
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1754231422783/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1756808358382/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1754767332901/work
click==8.2.1
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1756544679613/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
decorator==5.2.1
DendroPy @ file:///opt/conda/conda-bld/dendropy_1750372670633/work
dnspython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_dnspython_1757292856/work
et_xmlfile==2.0.0
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1756328675481/work
gitdb==4.0.12
GitPython==3.1.45
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
h5py==3.14.0
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_kiwisolver_1756467598/work
MarkupSafe==3.0.2
matplotlib==3.10.6
munkres==1.1.4
narwhals==2.4.0
natsort==8.4.0
numpy @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_numpy_1756343067/work/dist/numpy-2.3.2-cp312-cp312-macosx_10_13_x86_64.whl#sha256=9e03bb2dc7613d0b20a36d51d6c77d5512ba6eb428665a0922e4fd0ee3ce0c1d
openpyxl==3.1.5
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1755778972586/work
PASTA @ file:///opt/mambaforge/envs/bioconda/conda-bld/pasta_1749152926847/work
patsy==1.0.1
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1756853483762/work
protobuf==6.32.0
pyarrow==21.0.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydeck==0.9.1
pymongo @ file:///Users/runner/miniforge3/conda-bld/pymongo_1755878373525/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1753873557/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
referencing==0.36.2
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1755614211359/work
rpds-py==0.27.1
scikit-bio==0.7.0
scipy==1.16.1
seaborn==0.13.2
sepp @ file:///opt/mambaforge/envs/bioconda/conda-bld/sepp_1746012022805/work
setuptools==80.9.0
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smmap==5.0.2
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1733244044561/work
statsmodels==0.14.5
streamlit==1.49.1
tenacity==9.1.2
toml==0.10.2
tornado==6.5.2
typing_extensions==4.15.0
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1756494602014/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
wheel==0.45.1
zstandard==0.24.0
